<div>
    <h1><%= title %> Form </h1>
</div>

<div class="container">
    <form action="/post" method="post">
        <label for="regd_no">Date: </label>
        <input type="text" id="regd_no" name="regd_no">
        <label for="name">Time: </label>
        <input type="text" id="name" name="name">
        <label for="email">Contact Person: </label>
        <input type="email" name="email">
        <label for="email">Phone: </label>
        <input type="email" name="email">

        <label for="email">Email: </label>
        <input type="email" name="email">
        <label for="email">TagLine: </label>
        <input type="email" name="email">
        <label for="email">Information: </label>
        <input type="email" name="email">


        <button type="submit">Send form</button>
    </form>
</div>