<div>
    <h1><%= title %> Form </h1>
</div>

<div class="container">
    <form action="/post" method="post">
        <label for="date">Date: </label>
        <input type="text" id="date" name="date">
        <label for="time">Time: </label>
        <input type="text" id="time" name="time">
        <label for="contact_person">Contact Person: </label>
        <input type="text" id="contact_person" name="contact_person">
        <label for="phone">Phone: </label>
        <input type="text" id="phone" name="phone">

        <label for="email">Email: </label>
        <input type="email" id="email" name="email">
        <label for="tagline">TagLine: </label>
        <input type="text" id="tagline" name="tagline">
        <label for="information">Information: </label>
        <input type="text" id="information" name="information">


        <button type="submit">Send form</button>
    </form>
</div>