
<div>
    <h1><%= title %> Form </h1>
</div>

<div class="container">
        <form action="/post" method="post">
            <label for="date">Date: </label>
            <input type="text" id="date" name="date">
            <label for="scriptures">Scriptures: </label>
            <input type="text" id="scriptures" name="scriptures">
            <label for="lesson">Lesson: </label>
            <input type="text" id="lesson" name="lesson">
            <label for="link">Link: </label>
            <input type="text" id="link" name="link">

            <button type="submit">Send form</button>
        </form>
    </div>
