<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/form.css">
 </head>
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
<!-- </head> -->
<body>
    <header>
        
    <!-- <link rel="stylesheet" href="/css/form.css"> -->
        <h1>My Website</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>
    <!-- <main> -->
