
<div class="hamburger-menu">
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">&#9776;</label>
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>  
<li><a href="/profile">Profile</a></li>
     
        <li><a href="/sacrament">Sacraments Form</a></li>
        <li><a href="/ComeFollowMe">Come Follow Me Form</a></li>
        <li><a href="/announcement">Announcement Form</a></li>
        <li><a href="/leadership">Leadership Form</a></li>
        <li><a href="/additionalinformation">Additional information Form</a></li>
        <li><a href="/addpicure">Add Images Form</a></li>
        <li><a href="/">Add Quotes Form</a></li>
        <% if (locals.user) { %>
        <li><a href="/">Other Form</a></li>
        <li><a href="#">Create & Publish PDF Program</a></li>
        <li><a href="#">Previous Meeting Programs</a></li>
        <li><a href="#">Add to mailing list request for PDF Program</a></li>
        <% } else { %>
            <li><a href="/login">login</a></li>
        <% } %>
        <!-- <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li> -->
    </ul>
</div>