<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
 </head>
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
<!-- </head> -->
<body>
    <header>
        
    <!-- <link rel="stylesheet" href="/css/form.css"> -->
        <h1>My Website</h1>
        <!-- <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav> -->
    </header>
    <!-- <main> -->

<!-- <nav>
    <ul><li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/sacrament">Sacraments Form</a></li>
        <li><a href="/ComeFollowMe">Come Follow Me Form</a></li>
        <li><a href="/announcement">Announcement Form</a></li>
        <li><a href="/leadership">Leadership Form</a></li>
        <li><a href="/additionalinformation">Additional information Form</a></li>
        <li><a href="/addpicure">Add Images Form</a></li>
        <li><a href="/">Add Quotes Form</a></li>
        <li><a href="/">Other Form</a></li>
        

        <li><a href="#">Create & Publish PDF Program</a></li>
        <li><a href="#">Previous Meeting Programs</a></li>
        <li><a href="#">Add to mailing list request for PDF Program</a></li>
        
        <li><a href="/about">About</a></li>
    </ul>
</nav> -->