<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sacrament Program</title>
    <link rel="stylesheet" href="/css/form.css">
</head>

<body>
<%- include('../partials/navigation') %>
    <!-- < %- include('/views/partials/navigation') %> -->
<h2>Welcome to the Sacrament Program</h2>
<!-- < %- include('announcement.ejs') %> -->

</body>

</html>