<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AnnouncementForm</title>
    <link rel="stylesheet" href="/form.css" >
</head> -->

<body>
    <%- include('./partials/nav.ejs') %>
    <%- include('./partials/navigation.ejs') %>
<h2>Announcement Form</h2>
<%- include('./partials/addpicure.ejs') %>

</body>
<%- include('partials/footer') %>
</html>