<!-- views/index.ejs -->
<!-- < %- include('partials/header') %> -->

<%- include('./partials/nav.ejs') %>
<%- include('./partials/navigation.ejs') %>
<h2>Welcome to the Sacrament Program</h2>
<p>This is to be able to create and share the Sacrament meeting programs with updated information.</p>
<%- include('partials/footer') %>
