<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AnnouncementForm</title>
    <link rel="stylesheet" href="/form.css" >
</head> -->
<!-- < %- include('./partials/navigation.ejs') %> -->
<body>
    <!-- < %- include('./partials/header.ejs') %> -->
    <!-- <body> -->
        <%- include('./partials/nav.ejs') %>
        <%- include('./partials/navigation.ejs') %>
<h2>Leadership Form</h2>
<%- include('./partials/leadership.ejs') %>

</body>
<%- include('partials/footer') %>
</html>