<!-- views/index.ejs -->
<!-- < %- include('partials/header') %> -->

<%- include('./partials/nav.ejs') %>
<%- include('./partials/navigation.ejs') %>
<h2>Welcome to the About Page</h2>
<p>This is the About page of the website. This is a project in the 341 Class Spring 2024 by:</p>

    <li>Carolina</li><li>Yuri</li><li>Rachel</li><li>Rune</li>


<%- include('partials/footer') %>
