
<!-- < %- include('./partials/header.ejs') %> -->
<!-- <body> -->
    <%- include('./partials/nav.ejs') %>
    <%- include('./partials/navigation.ejs') %>
<h2>Announcement Form</h2>
<%- include('./partials/sacrament.ejs') %>

</body>
<%- include('partials/footer') %>
</html>